<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="site.letterforyou.spring.board.mapper.BoardMapper">

	<select id="getBoardList"
		parameterType="site.letterforyou.spring.board.domain.BoardVO"
		resultType="site.letterforyou.spring.board.domain.BoardVO">
		select board_no as boardNo ,
		user_id  as userId,
		board_title as boardTitle,
		board_content as boardContent ,
		regist_dt as registDate,
		board_view as boardView,
		board_thumbnail as boardThumbNail
		
		from tbl_board
		where use_yn = 'Y'
	</select>
	
	
	<select id="getBoard" parameterType="_long" resultType="site.letterforyou.spring.board.domain.BoardVO">
	select board_no as boardNo ,
		user_id  as userId,
		board_title as boardTitle,
		board_content as boardContent ,
		regist_dt as registDate,
		board_view as boardView
		
		from tbl_board
		where board_no = #{boardNo}
	
	</select>
	
	 <select id ="getAttachByBoardNo" parameterType="_long" resultType="site.letterforyou.spring.board.domain.AttachVO">
	 select attach_no as attachNo, 
	 regist_dt as registDate,
	 file_path as filePath
	 from tbl_attach
	where board_no = #{boardNo}
	 </select>
	
	
	<select id="getBoardLikeCountByBoardNo" resultType="_long">
	
	select count(*) as boardLike
	from tbl_board_like
	where board_no=#{boardNo}
	</select>
	
<insert id="addBoard" useGeneratedKeys="true" parameterType="site.letterforyou.spring.board.domain.BoardVO" >
    INSERT INTO TBL_BOARD (board_no, user_id, board_title, board_content, board_thumbnail) 
    VALUES (TBL_BOARD_SEQ.NEXTVAL, #{userId}, #{boardTitle}, #{boardContent}, #{boardThumbNail})
</insert>

	
	
	<insert id="addAttach">
    INSERT INTO TBL_ATTACH (attach_no, board_no, file_path, original_file_nm, save_file_nm) 
    VALUES (TBL_ATTACH_SEQ.nextval, #{boardNo}, #{attachVo.filePath}, #{attachVo.originalFileNm}, #{attachVo.saveFileNm})
</insert>


<update id="modifyBoard">
    UPDATE TBL_BOARD 
    SET board_title = #{boardVo.boardTitle},
        board_content = #{boardVo.boardContent},
        regist_dt = CURRENT_TIMESTAMP,
        change_dt = CURRENT_TIMESTAMP
    WHERE board_no = #{boardNo}
</update>


<update id="deleteBoard">
UPDATE TBL_BOARD
SET use_yn = 'N'
where board_no=#{boardNo}
</update>






	
</mapper>